streamlit
python-docx
pypdf
pymupdf
python-pptx
mammoth
spacy
pytesseract
moviepy
faster-whisper
google-genai>=1.0.0
google-generativeai
pandas
lxml
requests
gdown
Pillow
librosa
torch
torchaudio
torchvision
